.cont-produtos{
    margin-top: 40px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--cinza);
}
.cont-prod-maior{
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.cont-prod{
    background-color: var(--cinza-claro);
    padding: 10px;
    width: 140px;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.right-cont{
    flex-direction: row-reverse;
}
.img-prod-maior{
    width: 200px;   
    position: absolute;
    z-index: 0;
}
.cont-texto{
    width: 125px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.nome-prod-maior{  
    font-weight: 600;
    font-size: 30px;
}
.nome-prod{
    height: 32px;
    font-weight: 600;
    padding: 0 10px;
}
.button-prod-maior{
    width: 90%;
    margin: 0 5%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 3px solid var(--cinza);
}
.img-prod{
    width: 100px;
    height: 120px;
    margin: 0 50%;
    transform: translateX(-50%);
}
.preco-prod{
    margin: 10px 0;
    padding: 5px;
    border: 1px solid var(--cinza);
    width: 50px;
}
.preco-prod-maior{
    padding: 10px;
    width:70px;
    font-size: 18px;
}
.preco-cinza{
    border: 1px solid var(--cinza-claro);
}
.button-prod{
    width: 90%;
    margin: 0 5%;
    border-radius: 10px;
    padding: 8px;
    border: none;
    border: 2px solid var(--cinza);
    height: 55px;
}
.button-prod:hover{
    transition:0.4s;
    width: 100%;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    background-color: var(--cinza-claro);
    font-weight: 700; 
}
.button-prod-maior:hover{
    transition:0.4s;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-weight: 700; 
    background-color: var(--cinza);
}
.button-cinza:hover{
    background-color: var(--cinza-claro);
}
@media screen and (min-width:1024px) {
    .cont-prod{
        background-color: var(--cinza);
        width: 158px;
    }
    .cont-prod-maior{
        justify-content: center;
        width: auto;
        margin: 0;
        gap: 20px;
    }
    .img-prod{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .cont-produtos{
        background-color: transparent;
        margin:0;
        padding: 0 0 20px 0;
        gap: 15px;
        width: auto;
    }
    .cinza-prod{
        background-color: var(--cinza-claro);
    }
    .cont-prod-maior{
        height: 265px;
    }
    
}